body {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.heroText {
  text-align: center;
}

.other-heroes {
  width: 80%;
}

.hero1 {
  width: 100%;
}

.wrapper {
  margin: 0;
  padding: 50px;
}

.discoverTextContainter {
  background: #f0911b;
}

.white-text {
  color: white;
}